@model MVC.Models.User

@{
    ViewData["Title"] = "Index";
    // string Nombre = "Nimohe";
}

<h1>Index</h1>
@* <p>@Nombre</p> *@

@* @for (int i = 0; i <= 100; i++)
{
    <b>@i</b>
} *@

<div>
    @Model.Name <br />
    @Model.Email
</div>

